body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
    width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.09);
}

.login-box {
  position: relative;
  background: rgba(255, 255, 255, 0.79);
  padding: 35px;
  width: 320px;
  border-radius: 10px;
  z-index: 1;
}

.login-box h2 {
  text-align: center;
  color: #c4622d;
  font-size: 30px;
}
.login-box h3 {
  text-align: center;
  color: #c4622d;
}

.login-box p {
  font-size: 25px;
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

.login-box input {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #3b3b3bdf;
  border: none;
}
.login-box input:focus {
  outline: none;
}

.login-box button {
  width: 80%;
  padding: 10px;
  background: #2564ebe6;
  color: white;
  border: none;
  cursor: pointer;
  margin-left:35px ;
}
.error-message {
    margin-top: 20px;
    height: 5px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
    visibility: hidden;
}